<html>
    <table>
        <tr>
            <th>id</th>
            <th>timestamp</th>
            <th>device</th>
            <th>battery</th>
            <th>location</th>
        </tr>
        <tr>
            <td><%=location.id%></td>
            <td><%=location.timestamp%></td>
            <td><%=location.device%></td>
            <td><%=location.battery%></td>
            <td><%=location.coords.lat%>, <%=location.coords.long%></td>
        </tr>
    </table>
</html>
